{% extends 'base.html.twig' %}

{% block title %}Garage Parot{% endblock %}

{% block body %}
    <div style="width:100%; position:relative">
        <img src="{{asset('img/photo-garage-3.png')}}" style="width:100%; height:650px; object-fit:cover" alt="">
        <div style="position:absolute; top:30%; right:10%;">
            <h1 style="text-align:right;" class="text-light">Rechercher votre vehicule selon les critères ci-dessous </h1>
        </div>
    </div>
    {% include "./component/_search_data.html.twig" %}
    
    <div class="d-flex flex-wrap gap-4 justify-content-center mt-4" id="content-cars">
        {% include "./component/_search_filter.html.twig" %}
    </div>

        <ul class="pagination justify-content-center my-5">
        <li class="page-item">
                {{ knp_pagination_render(cars) }}
        </li>
    </ul>
{% endblock %}
