{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
{% include "./component/_header.html.twig" %}
    <div class="container my-4">
        {{form_start(form)}}
            {{form_widget(form)}}
        {{form_end(form)}}
    </div>
{% endblock %}