{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
{% include "./component/_header.html.twig" %}
    <div class="container my-5">
        <h1 class="mb-4">Add Services</h1>
        {{form(form)}}
    </div>
{% endblock %}