{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
{% include "./component/_header.html.twig" %}
    <div class="container my-5">
        {{form(form)}}
    </div>
{% endblock %}