<div style="background:crimson; height:70px; width:100%; position:absolute; bottom:5; top:100">
    <div style="display:flex; justify-content:center; align-items:center;  height:70px; width:100%">
        <div style="margin-right:30px">Recevez nos news en vous inscrivant à notre newsletter</div>
        <form action="">
            <div style="display:flex; justify-content:center; align-items:center;">
            <input type="text" class="form-control w-75">
            <button type="submit" class="btn btn-danger border">Soumettre</button>
            </div>
        </form>
    </div>
</div>