{% set filtersSearch = [
    "prix", 
    "kilometrage", 
    "annee",
    ] 
%}

<div class="d-flex justify-content-center gap-5 w-100 p-3 position-absolute" style="top:45%">
    <form id="filters">
        <div class="d-flex my-4 gap-4">

            {% for searchFilter in filtersSearch %}
                <div>
                    <div class="d-flex justify-content-between w-100">
                        <label for="kilometrage" class="text-light">{{searchFilter}}</label>
                        <label class="value" data-text="kilometrage"></label>
                    </div>
                    <input type="number" class="form-control bg-light" id="input-search" name="{{searchFilter}}-min" placeholder="min" value=null>
                    <input type="number" class="form-control bg-light mt-2" id="input-search" name="{{searchFilter}}-max" placeholder="max" value=null>
                </div>
            {% endfor %}

        </div>

        <div class="d-flex">
            <input type="text" class="form-control" id="input-search" name="marque" value="" />
            <button type="submit" class="btn btn-primary">Search</button>
        </div>

        <div>
            <input type="hidden" id="input-search bg-light" name="isactive" min="2000" max="2023" value="true">
        </div>
    </form>
</div>